body{
  margin: 0 auto;
  background-image: url(../img/trellowallpaper.png);
  background-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

header{
  position: fixed;
  text-align: center;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px #228aad;
}

header img{
  width: 8em;
}

nav{
  padding-top: 50px;
}

h1{
  margin-left: 20px;
  color: white;
}

/*Sección 2*/

#btn_principal{
  border: none;
  border-radius: 3px;
  background: #005485;
  color: #66a4c7;
  height: 30px;
  padding-right: 100px;
  margin-left: 15px;
  margin-top: 5px;
}

.input_principal{
  border: none;
  border-radius: 3px;
  background: white;
  height: 27px;
  padding-left: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

#guardar{
  border: none;
  background: #519839;
  border-radius: 3px;
  color: white;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.div_input{
  background: #e2e4e6;
  border-radius: 3px;
  width: 185px;
  height: 73px;
  margin-left: 8px;

}

.div_texto{
  background: white;
  border-radius: 3px;
  margin-left: 10px;
  height: 27px;
  width: 180px;
}

h4{
  padding-left: 10px;
}

#guardar_2{
  display: block;
  border: none;
  background: #519839;
  border-radius: 3px;
  color: white;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.div_input_2{
  display: inline-block;
  background: #e2e4e6;
  border-radius: 3px;
  width: 185px;
  height: 73px;
  margin-left: 8px;
  margin-top: 10px;
}

.input_clone{
  border: none;
  border-radius: 3px;
  background: white;
  height: 27px;
  padding-left: 5px;
  margin-left: 5px;
  margin-top: 5px;
}
